- es = 'activerecord.attributes.catalogs/institution'
= flash_messages(flash)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-sm-2= sortable 'abbr', t("#{es}.abbr"), catalogs_institutions_path
      %th.col-sm-5= sortable 'name', t("#{es}.name"), catalogs_institutions_path
      %th.col-sm-2
  %tbody
    - @catalogs_institutions.each do |catalogs_institution|
      %tr
        %td= catalogs_institution.abbr
        %td= catalogs_institution.name
        %td.text-center
          = link_to_fa_button({url: catalogs_institution, icon: 'fa-eye', title: t('commands.show'), data: {toggle: 'modal', target: '#show-dialog'}})
          = link_to_fa_button({url: edit_catalogs_institution_path(catalogs_institution), icon: 'fa-pencil', title: t('commands.edit'), data: {toggle: 'modal', target: '#new-update-dialog'}})
          = link_to_fa_button({url: catalogs_delete_institution_path(catalogs_institution), icon: 'fa-trash-o', title: t('commands.delete'), data: {toggle: 'modal', target: '#delete-dialog'}})
