- es = 'activerecord.attributes.catalogs/resource.'
%table.table
  %tbody
    %tr
      %td.th
        = t("#{es}.abbr")
      %td.tc
        = @catalogs_resource.abbr
    %tr
      %td.th
        = t("#{es}.name")
      %td.tc
        = @catalogs_resource.name
    %tr
      %td.th
        = t("#{es}.description")
      %td.tc
        = @catalogs_resource.description
    %tr
      %td.th
        = t("#{es}.resource_type_id")
      %td.tc
        = @catalogs_resource.catalogs_resource_type.name
    %tr
      %td.th
        = t("#{es}.location")
      %td.tc
        = @catalogs_resource.location
    %tr
      %td.th
        = t("#{es}.active")
      %td.tc
        = @catalogs_resource.active ? t('labels._yes') : t('labels._no')
    %tr
      %td.th
        = t("#{es}.admin_user_id")
      %td.tc
        = @catalogs_resource.admin_user.name
    %tr
      %td.th
        = t("#{es}.unique")
      %td.tc
        = @catalogs_resource.unique ? t('labels._yes') : t('labels._no')

.text-right
  = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'

-#  TODO change column name user_type_id to user_type_id
