= simple_form_for @reservation, url: agenda_public_create_path(params[:department_id]),remote: true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|

  = f.error_notification

  = f.input :requester
  = f.association :l_headquarter, include_blank: t('msgs.select_an_option.')
  = f.input :email
  = f.input :phone
  = f.input :resource_requested, as: :text, input_html: { maxlength: 250, rows: 6 }

  -# OPTIONAL FIELDS
  - if(txt_op_1 = Admin::DeptConfig.where(department_id: params[:department_id], tag: 'reservations_txt_op_1').first).value.size > 0
    - hint = Admin::DeptConfig.where(department_id: params[:department_id], tag: 'reservations_txt_op_1_hint').first.value
    = f.input :txt_op_1, label: txt_op_1.value, hint: hint
  - if(txt_op_2 = Admin::DeptConfig.where(department_id: params[:department_id], tag: 'reservations_txt_op_2').first).value.size > 0
    - hint = Admin::DeptConfig.where(department_id: params[:department_id], tag: 'reservations_txt_op_2_hint').first.value
    = f.input :txt_op_2, label: txt_op_2.value, hint: hint
  - if(datetime_op_1 = Admin::DeptConfig.where(department_id: params[:department_id], tag: 'reservations_datetime_op_1').first).value.size > 0
    - hint = Admin::DeptConfig.where(department_id: params[:department_id], tag: 'reservations_datetime_op_1_hint').first.value
    = f.input :datetime_op_1, label:datetime_op_1.value, hint: hint, as: :string
  - if(datetime_op_2 = Admin::DeptConfig.where(department_id: params[:department_id], tag: 'reservations_datetime_op_2').first).value.size > 0
    - hint = Admin::DeptConfig.where(department_id: params[:department_id], tag: 'reservations_datetime_op_2_hint').first.value
    = f.input :datetime_op_2, label:datetime_op_2.value, hint: hint, as: :string

  %hr
  .text-right
    = button_tag_fa(text: t('commands.submit'), title: t('commands.submit'), icon: 'fa-share-square', name: t('commands.search'))
    = button_tag "<span class='fa fa-close'></span> #{t('commands.cancel')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'
