%td{title: reservation.status.name}
  .fa.fa-tag{class: "#{reservation.status.css_class}-c"}
  = reservation.created_at.strftime('%d/%m/%Y')
%td= reservation.requester
%td= reservation.short_resource_requested
%td.text-center
  = link_to_fa_button({url: agenda_public_show_path(reservation), icon: 'fa-eye', title: t('commands.show'), data: {toggle: 'modal', target: '#show-dialog'}})
  = link_to_fa_button({url: agenda_public_new_msg_path(reservation), icon: 'fa-comment-o', title: t('commands.comment'),data: {toggle: 'modal', target: '#new-update-dialog'}})
  = link_to_fa_button({url: agenda_public_cancel_req_msg_path(reservation), icon: 'fa-trash-o', title: t('commands.cancel'), data: {toggle: 'modal', target: '#new-update-dialog'}, html_class: (reservation.status_id == 0 || reservation.status_id == 4) ? 'disabled' : nil})
