- es = 'activerecord.attributes.agenda/reservation'
= flash_messages(flash)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-sm-1= sortable 'folio', t("#{es}.folio"), agenda_reservations_path
      %th.col-sm-1= sortable 'requester', t("#{es}.requester"), agenda_reservations_path
      %th.col-sm-1= sortable 'email', t("#{es}.email"), agenda_reservations_path
      %th.col-sm-1= sortable 'event_type_id', t("#{es}.catalogs_event_type"), agenda_reservations_path
      %th.col-sm-1= sortable 'status_id', t("#{es}.catalogs_status"), agenda_reservations_path
      %th.col-sm-1
  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.folio
        %td= reservation.requester
        %td= reservation.email
        %td= reservation.event_type.name
        %td= reservation.status.name
        %td.text-center
          = link_to_fa_button({url: reservation, icon: 'fa-eye', title: t('commands.show'), data: {toggle: 'modal', target: '#show-dialog'}})
          = link_to_fa_button({url: edit_agenda_reservation_path(reservation), icon: 'fa-pencil', title: t('commands.edit'), remote: false})
          = link_to_fa_button({url: agenda_delete_reservation_path(reservation), icon: 'fa-trash-o', title: t('commands.delete'), data: {toggle: 'modal', target: '#delete-dialog'}})
