- es = 'activerecord.attributes.agenda/reservation'
#alert= flash_messages(flash)
%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th.col-sm-1= sortable 'created_at', t("#{es}.created_at"), agenda_reservations_path
      %th.col-sm-1= sortable 'folio', t("#{es}.folio"), agenda_reservations_path
      %th.col-sm-2= sortable 'requester', t("#{es}.requester"), agenda_reservations_path
      -#%th.col-sm-1= sortable 'email', t("#{es}.email"), agenda_reservations_path
      %th.col-sm-2= sortable 'event_type_id', t("#{es}.event_type"), agenda_reservations_path
      %th.col-sm-2= sortable 'admin_user_id', t("#{es}.attended_by"), agenda_reservations_path
      %th.col-sm-3
  = render partial: 'records_d'
