- es = 'activerecord.attributes.agenda/reservation'

.col-md-12
  .row
    .res_req_scroll
      = @agenda_reservation.resource_requested

  .row
    .col-md-6
      %h4= t('msgs.info_provided_by_user')
      %table.table
        %tbody
          %tr
            %td.th
              = t("#{es}.folio")
            %td.tc
              = @agenda_reservation.folio
          %tr
            %td.th
              = t("#{es}.requester")
            %td.tc
              = @agenda_reservation.requester
          %tr
            %td.th
              = t("#{es}.l_headquarter")
            %td.tc
              = @agenda_reservation.l_headquarter.name
          %tr
            %td.th
              = t("#{es}.email")
            %td.tc
              = @agenda_reservation.email
          %tr
            %td.th
              = t("#{es}.phone")
            %td.tc
              = @agenda_reservation.phone
          -# OPTIONAL FIELDS
          - txt_op_2 = Admin::DeptConfig.by_department_id_and_tag(@agenda_reservation.department_id, 'reservations_txt_op_2').first
          - if (txt_op_2.value.try('size') || 0) > 0
            %tr
              %td.th
                = txt_op_2.value
              %td.tc
                = @agenda_reservation.txt_op_1
          - txt_op_1 = Admin::DeptConfig.by_department_id_and_tag(@agenda_reservation.department_id, 'reservations_txt_op_1').first
          - if (txt_op_1.value.try('size') || 0) > 0
            %tr
              %td.th
                = txt_op_1.value
              %td.tc
                = @agenda_reservation.txt_op_1

    .col-md-6
      %h4= t('msgs.info_provided_by_admin')
      %table.table
        %tbody
          %tr
            %td.th
              = t("#{es}.attended_by")
            %td.tc
              = @agenda_reservation.admin_user.try('name') || t("#{es}.undefined")
          %tr
            %td.th
              = t("#{es}.status_id")
            %td.tc
              = @agenda_reservation.status.name

          - if Admin::DeptConfig.by_department_id_and_tag(@agenda_reservation.department_id, 'foreign_headquarter_required').first.value == 'Si'
            %tr
              %td.th
                = t("#{es}.f_headquarter")
              %td.tc
                = @agenda_reservation.f_headquarter.try('name') || t("#{es}.undefined")
          %tr
            %td.th
              = t("#{es}.event_type_id")
            %td.tc
              = @agenda_reservation.event_type.try('name') || t("#{es}.undefined")
  .row
    - if @agenda_reservation.messages.size > 0
      %h4= t('titles.messages')
      .show_msgs
        = render partial: 'agenda/reserv_msgs/show_msgs', locals: {messages: @agenda_reservation.messages}

  %hr

.text-right
  = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'

-#  TODO change column name user_type_id to user_type_id
