- es = 'activerecord.attributes.agenda/reservation'

.col-md-12
  .row
    .res_req_scroll
      %i.fa.fa-tag{class: "#{@agenda_reservation.status.css_class}-c"}
      %strong= @agenda_reservation.folio
      = @agenda_reservation.resource_requested

  .row
    %h4= t('msgs.info_provided_by_user')
  .row
    .col-md-6
      %table.table
        %tbody
          %tr
            %td.th
              = t("#{es}.requester")
            %td.tc
              = @agenda_reservation.requester
          %tr
            %td.th
              = t("#{es}.l_headquarter")
            %td.tc
              = @agenda_reservation.l_headquarter.name
          -# OPTIONAL FIELDS
          - txt_op_2 = Admin::DeptConfig.by_department_id_and_tag(@agenda_reservation.department_id, 'reservations_txt_op_2').first
          - if (txt_op_2.value.try('size') || 0) > 0
            %tr
              %td.th
                = txt_op_2.value
              %td.tc
                = @agenda_reservation.txt_op_2
          - txt_op_1 = Admin::DeptConfig.by_department_id_and_tag(@agenda_reservation.department_id, 'reservations_txt_op_1').first
          - if (txt_op_1.value.try('size') || 0) > 0
            %tr
              %td.th
                = txt_op_1.value
              %td.tc
                = @agenda_reservation.txt_op_1
    .col-md-6
      %table.table
        %tbody
          %tr
            %td.th
              = t("#{es}.email")
            %td.tc
              = @agenda_reservation.email

            %tr
              %td.th
                = t("#{es}.phone")
              %td.tc
                = @agenda_reservation.phone

          -# OPTIONAL FIELDS
          - txt_op_3 = Admin::DeptConfig.by_department_id_and_tag(@agenda_reservation.department_id, 'reservations_txt_op_3').first
          - if (txt_op_3.value.try('size') || 0) > 0
            %tr
              %td.th
                = txt_op_3.value
              %td
                = @agenda_reservation.txt_op_3

          - txt_op_4 = Admin::DeptConfig.by_department_id_and_tag(@agenda_reservation.department_id, 'reservations_txt_op_4').first
          - if (txt_op_4.value.try('size') || 0) > 0
            %tr
              %td.th
                = txt_op_4.value
              %td
                = @agenda_reservation.txt_op_4

  .row
    %h4= t('msgs.info_provided_by_admin')
  .row
    .col-md-6
      %table.table
        %tbody
          %tr
            %td.th
              = t("#{es}.attended_by")
            %td.tc
              = @agenda_reservation.admin_user.try('name') || t("#{es}.undefined")

          - if Admin::DeptConfig.by_department_id_and_tag(@agenda_reservation.department_id, 'foreign_headquarter_required').first.value == 'Si'
            %tr
              %td.th
                = t("#{es}.f_headquarter")
              %td.tc
                = @agenda_reservation.f_headquarter.try('name') || t("#{es}.undefined")
    .col-md-6
      %table.table
        %tbody
          %tr
            %td.th
              = t("#{es}.event_type_id")
            %td.tc
              = @agenda_reservation.event_type.try('name') || t("#{es}.undefined")

  .row
    - if @agenda_reservation.messages.size > 0
      %h4= t('titles.messages')
      .show_msgs
        = render partial: 'agenda/reserv_msgs/show_msgs', locals: {messages: @agenda_reservation.messages}

  %hr

.text-right

  = link_to_fa_button({url: edit_agenda_reservation_path(@agenda_reservation, page: params[:page]), icon: 'fa-pencil', text: t('commands.edit'), remote: false, html_class: (@agenda_reservation.status_id == 0 ||@agenda_reservation.status_id == 4) ? 'disabled' : nil})
  = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'

-#  TODO change column name user_type_id to user_type_id
