%p#notice= notice

%p
  %b Folio:
  = @agenda_reservation.folio
%p
  %b Requester:
  = @agenda_reservation.requester
%p
  %b Email:
  = @agenda_reservation.email
%p
  %b Phone:
  = @agenda_reservation.phone
%p
  %b Foreing headquarter:
  = @agenda_reservation.foreing_headquarter_id
%p
  %b Event type:
  = @agenda_reservation.event_type_id
%p
  %b Status:
  = @agenda_reservation.status_id
%p
  %b Comments:
  = @agenda_reservation.comments
%p
  %b Modified by:
  = @agenda_reservation.modified_by

= link_to 'Edit', edit_agenda_reservation_path(@agenda_reservation)
\|
= link_to 'Back', agenda_reservations_path
