%h1 Listing catalogs_user_resources

%table
  %tr
    %th Admin user
    %th Resource
    %th Administrator
    %th
    %th
    %th

  - @catalogs_user_resources.each do |catalogs_user_resource|
    %tr
      %td= catalogs_user_resource.admin_user_id
      %td= catalogs_user_resource.resource_id
      %td= catalogs_user_resource.administrator
      %td= link_to 'Show', catalogs_user_resource
      %td= link_to 'Edit', edit_catalogs_user_resource_path(catalogs_user_resource)
      %td= link_to 'Destroy', catalogs_user_resource, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User resource', new_catalogs_user_resource_path
