- new_link = link_to_fa_button({url: new_catalogs_user_resource_path, text: t('commands.new'), icon: 'fa-plus', data: {toggle: 'modal', target: '#new-update-dialog'}})
= render partial: 'layouts/admin_menu', locals: {title: t('titles.resources'), url: catalogs_user_resources_path, new_link: new_link}
= flash_messages(flash)
- es = 'activerecord.attributes.catalogs/user_resources.'


%table.table
  %tbody
    %tr
      %td= @user.name

= flash_messages(flash)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-sm-1
      %th.col-sm-2= sortable 'abbr', t('activerecord.attributes.catalogs/resource.abbr'), catalogs_resources_path
      %th.col-sm-3= sortable 'name', t('activerecord.attributes.catalogs/resource.name'), catalogs_resources_path
      %th.col-sm-3= sortable 'description', t("#{es}.description"), catalogs_resources_path
      %th.col-sm-2
  %tbody
    - @catalogs_resources.each do |resource|
      %tr
        - admin = resource.is_admin_by?(params[:user_id])
        #check-button
          - if admin
            %td= link_to_fa_button({url: catalogs_assign_unassign_users_resources_path(resource, user_id: params[:user_id], admin: admin),  icon: 'fa-check-square-o', title: t('commands.uncheck')})
          - else
            %td= link_to_fa_button({url: catalogs_assign_unassign_users_resources_path(resource, user_id: params[:user_id], admin: admin),  icon: 'fa-square-o', title: t('commands.check')})
        %td= resource.abbr
        %td= resource.name
        %td= resource.description
        %td.text-center



.text-right
  = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'
