%p#notice= notice

%p
  %b Admin user:
  = @catalogs_user_resource.admin_user_id
%p
  %b Resource:
  = @catalogs_user_resource.resource_id
%p
  %b Administrator:
  = @catalogs_user_resource.administrator

= link_to 'Edit', edit_catalogs_user_resource_path(@catalogs_user_resource)
\|
= link_to 'Back', catalogs_user_resources_path
