- es = 'activerecord.attributes.agenda/reserv_resources.'
%table.table
  %tbody
    %tr
      %td.th
        = t("#{es}.reservation_id")
      %td.tc
        = @agenda_reserv_resource.reservation_id
    %tr
      %td.th
        = t("#{es}.resource_id")
      %td.tc
        = @agenda_reserv_resource.resource_id

.text-right
  = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'

-#  TODO change column name user_type_id to user_type_id
