= simple_form_for @catalogs_headquarter, remote: true, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|

  = f.error_notification
  = f.input :name
  = f.association :institution
  = f.input :responsible
  = f.input :email
  = f.input :phone
  = f.input :comments

  -# OPTIONAL FIELDS
  - if cannot? :manage, @catalogs_headquarter
    - txt_op_1 = Admin::DeptConfig.where(department_id: current_devise_user.department_id, tag: 'headquarters_txt_op_1').first
    - if (txt_op_1.value.try('size') || 0) > 0
      - hint = Admin::DeptConfig.where(department_id: current_devise_user.department_id, tag: 'headquarters_txt_op_1_hint').first.value
      = f.input :txt_op_1, label: txt_op_1.value, hint: hint

    - txt_op_2 = Admin::DeptConfig.where(department_id: current_devise_user.department_id, tag: 'headquarters_txt_op_2').first
    - if (txt_op_2.value.try('size') || 0) > 0
      - hint = Admin::DeptConfig.where(department_id: current_devise_user.department_id, tag: 'headquarters_txt_op_2_hint').first.value
      = f.input :txt_op_2, label: txt_op_2.value, hint: hint
  - else
    = f.association :department

  %hr
  .text-right
    = f.button :submit, t('commands.save')
    = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'
