= form_for @catalogs_headquarter do |f|
  - if @catalogs_headquarter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@catalogs_headquarter.errors.count, "error")} prohibited this catalogs_headquarter from being saved:"
      %ul
        - @catalogs_headquarter.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :intitution_id
    = f.number_field :intitution_id
  .field
    = f.label :responsible
    = f.text_field :responsible
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :comments
    = f.text_field :comments
  .actions
    = f.submit 'Save'
