- es = 'activerecord.attributes.catalogs/headquarter'
= flash_messages(flash)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-sm-2= sortable 'name', t("#{es}.name"), catalogs_headquarters_path
      %th.col-sm-5= sortable 'responsible', t("#{es}.responsible"), catalogs_headquarters_path
      %th.col-sm-3= sortable 'email', t("#{es}.email"), catalogs_headquarters_path
      %th.col-sm-2
  %tbody
    - @catalogs_headquarters.each do |catalogs_headquarter|
      %tr
        %td= catalogs_headquarter.name
        %td= catalogs_headquarter.responsible
        %td= catalogs_headquarter.email
        %td.text-center
          = link_to_fa_button({url: catalogs_headquarter, icon: 'fa-eye', title: t('commands.show'), data: {toggle: 'modal', target: '#show-dialog'}})
          = link_to_fa_button({url: edit_catalogs_headquarter_path(catalogs_headquarter), icon: 'fa-pencil', title: t('commands.edit'), data: {toggle: 'modal', target: '#new-update-dialog'}})
          = link_to_fa_button({url: catalogs_delete_headquarter_path(catalogs_headquarter), icon: 'fa-trash-o', title: t('commands.delete'), data: {toggle: 'modal', target: '#delete-dialog'}})

