- es = 'activerecord.attributes.catalogs/headquarters.'
%table.table
  %tbody
    %tr
      %td.th
        = t("#{es}.name")
      %td.tc
        = @catalogs_headquarter.name
    %tr
      %td.th
        = t("#{es}.institution_id")
      %td.tc
        = @catalogs_headquarter.catalogs_institution.name
    %tr
      %td.th
        = t("#{es}.responsible")
      %td.tc
        = @catalogs_headquarter.responsible
    %tr
      %td.th
        = t("#{es}.email")
      %td.tc
        = @catalogs_headquarter.email
    %tr
      %td.th
        = t("#{es}.phone")
      %td.tc
        = @catalogs_headquarter.phone
    %tr
      %td.th
        = t("#{es}.comments")
      %td.tc
        = @catalogs_headquarter.comments

.text-right
  = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'

-#  TODO change column name user_type_id to user_type_id
