- es = 'activerecord.attributes.catalogs/department.'
%table.table
  %tbody
    %tr
      %td.th
        = t("#{es}.abbr")
      %td.tc
        = @catalogs_department.abbr
    %tr
      %td.th
        = t("#{es}.name")
      %td.tc
        = @catalogs_department.name
    %tr
      %td.th
        = t("#{es}.institution_id")
      %td.tc
        = @catalogs_department.catalogs_institution.name

.text-right
  = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'

-#  TODO change column name user_type_id to user_type_id
