= flash_messages(flash)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-sm-5= sortable 'name', t('activerecord.attributes.catalogs/statuses.name'), catalogs_statuses_path
      %th.col-sm-2
  %tbody
    - @catalogs_statuses.each do |catalogs_status|
      %tr
        %td= catalogs_status.name
        %td.text-center
          = link_to_fa_button({url: catalogs_status, icon: 'fa-eye', title: t('commands.show'), data: {toggle: 'modal', target: '#show-dialog'}})
          = link_to_fa_button({url: edit_catalogs_status_path(catalogs_status), icon: 'fa-pencil', title: t('commands.edit'), data: {toggle: 'modal', target: '#new-update-dialog'}})
          = link_to_fa_button({url: catalogs_delete_status_path(catalogs_status), icon: 'fa-trash-o', title: t('commands.delete'), data: {toggle: 'modal', target: '#delete-dialog'}})
