.col-md-6.col-md-offset-3
  %h2= t("titles.sign_in")
  = flash_messages(flash)
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    .col-md-6.col-md-offset-3
      = f.input :login, required: false, autofocus: true
    .col-md-6.col-md-offset-3
      = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    .col-md-6.col-md-offset-3
      = f.button :submit, t("commands.sign_in")
= render "devise/shared/links"
