%h1 Listing catalogs_event_types

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @catalogs_event_types.each do |catalogs_event_type|
    %tr
      %td= catalogs_event_type.name
      %td= link_to 'Show', catalogs_event_type
      %td= link_to 'Edit', edit_catalogs_event_type_path(catalogs_event_type)
      %td= link_to 'Destroy', catalogs_event_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event type', new_catalogs_event_type_path
