= form_for @admin_user do |f|
  - if @admin_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_user.errors.count, "error")} prohibited this admin_user from being saved:"
      %ul
        - @admin_user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :login
    = f.text_field :login
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :mail
    = f.text_field :mail
  .field
    = f.label :department_id
    = f.number_field :department_id
  .field
    = f.label :user_type
    = f.number_field :user_type
  .actions
    = f.submit 'Save'
