- es = 'activerecord.attributes.admin/user.'
%table.table
  %tbody
    %tr
      %td.th
        = t("#{es}.name")
      %td.tc
        = @admin_user.name
    %tr
      %td.th
        = t("#{es}.initials")
      %td.tc
        = @admin_user.initials
    %tr
      %td.th
        = t("#{es}.login")
      %td.tc
        = @admin_user.login
    %tr
      %td.th
        = t("#{es}.department_id")
      %td.tc
        = @admin_user.department_id
    %tr
      %td.th
        = t("#{es}.user_type_id")
      %td.tc
        = @admin_user.user_type_id

.text-right
  = button_tag "<span class='fa fa-close'></span> #{t('commands.close')}".html_safe, data: { dismiss: 'modal'}, class: 'btn btn-default'

-#  TODO change column name user_type_id to user_type_id
