%p#notice= notice

%p
  %b Login:
  = @admin_user.login
%p
  %b Name:
  = @admin_user.name
%p
  %b Mail:
  = @admin_user.mail
%p
  %b Department:
  = @admin_user.department_id
%p
  %b user_type:
  = @admin_user.user_type

= link_to 'Edit', edit_admin_user_path(@admin_user)
\|
= link_to 'Back', admin_users_path
