%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        %Strong= title
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      = form_tag url, remote: false, method: :get, class: 'navbar-form navbar-left' do
        .form-group
          =text_field_tag :search, '', placeholder: t('commands.search'), class: 'form-control'
          =submit_tag t('commands.search'), class: 'btn btn-default'
      .navbar-form.navbar-left
        =link_to t('commands.show_all'), url, class: 'btn btn-default'
        = new_link
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = t('titles.menu') + " (#{current_devise_user.login})"
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to t('titles.departments'), catalogs_departments_path
            %li.divider
              = link_to t('titles.event_types'), catalogs_event_types_path
            %li
              = link_to  t('titles.headquarters'), catalogs_headquarters_path
            %li
              = link_to t('titles.institutions'), catalogs_institutions_path
            %li
              = link_to t('titles.resource_types'), catalogs_resource_types_path
            %li
              = link_to t('titles.resources'), catalogs_resources_path
            %li
              = link_to t('titles.statuses'), catalogs_statuses_path
            %li
              = link_to t('titles.user_resources'), catalogs_user_resources_path
            %li.divider
            %li
              = link_to  t('commands.logout'), destroy_devise_user_session_path, method: :delete
    / /.navbar-collapse
  / /.container-fluid