!!!
%html
  %head
    %title Agenda de Recursos INB
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      .container
        .row
          - if params[:department_id]
            #r-header{style: "background-image: url('#{asset_path "headers_img/#{Catalogs::Department.find(params[:department_id]).img_header}"}')" }
          - elsif devise_user_signed_in?
            #r-header{style: "background-image: url('#{asset_path "headers_img/#{current_devise_user.department.img_header}"}')"}
          - else
            #r-header{style: "background-image: url('#{asset_path "headers_img/header.png"}')"}
        .row
          #r-content
            = yield
    %footer.text-center
      %p.text-muted
        Instituto de Neurobiología de la UNAM
